<%= form_with model: [@article, @article.comments.build] do |form| %>
  <p><%= form.label :body, 'текст' %></p>
	<p><%= form.text_area :body %></p>
  <p class="mt"><%= form.submit 'Сохранить', class: 'button button-main' %></p>
<% end %>
